/* Colors 
#F7F6F7
#EBD546
#95AAA4
#A7455F
#403C55
http://colormind.io/bootstrap/
*/
/* Main structural styles */
html {
    background-color: #EBBE46;
    padding: 0em 5em;
}

body {
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    min-width: 700px;
    color: #f7f6f7;
    background-color: #403c55;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*Nav styles */
nav {
    overflow: hidden;
}

header > nav > ul > li {
    background-color: #95AAA4;
}

nav > ul > li#name {
    font: normal small-caps bold 2em/3em 'Lucida Sans';
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 0em 3em .5em .75em;
    line-height: 1.5em;
    float: left;
    margin: 1em 1em 0em 1em;
}

nav > ul {
    background-color: #95AAA4;
    list-style: none;
    padding: 5px;
    float: right;
    width: 95%;
}
nav > ul > li {
    float: left;
    margin-top: 75px;
}

nav > ul > li > a {
    margin-top: 200px;
    padding: 40px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #403c55;
    color: #f7f6f7;
}

/* Footer stlyes */

