/* Colors 
#F7F6F7
#EBD546
#95AAA4
#A7455F
#403C55
http://colormind.io/bootstrap/
*/
/* Main structural styles */
html {
    background-color: #EBBE46;
    padding: 0px 50px;
}

body {
    display: block;
    color: #f7f6f7;
    background-color: #403c55;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Nav styles */
header > h3, header > nav {
    background-color: #95AAA4;
}

header > h3 {
    font: normal small-caps bold 2em/3em 'Lucida Sans';
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 25px 50px 25px;
    line-height: 1.5em;
}

nav > ul {
    background-color: #95AAA4;
    position: absolute;
    top: 25px;
    right: 58px;
    list-style-type: none;
    padding: 5px;
}
nav > ul > li {
    float: right;
    margin-top: 50px;
}

nav > ul > li > a {
    padding: 50px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #403c55;
    color: #f7f6f7;
}

