@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Stephanie Friddle
   Date:   5/11/21
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
   height: 100%;
}

body {
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
}

header, ul, nav, li, a {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* Row Styles */
.row::after {
   clear: both;
   content: "";
   display: table;
}

/* Page Header Styles */
body > header > img {
   display: block;
   width: 70%;
   float: left;
}

body > header > nav {
   float: left;
   padding-left: 2%;
   padding-right: 2%;
   width: 30%;
}

body > header > nav li {
   display: block;
   width: 100%;
}

/* Horizontal Navigation List Styles */




/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


