@charset "utf-8";

/*       
    Author: Stephanie Friddle
    Date:   6/1/21
    Required Files: finalExam.html, finalExam.css
    Description: CSC230 Website Design Final Exam Project
*/

/* HTML and Body styles */


/* Header styles */


/* Nav styles */


/* Table styles */


/* Footer styles */